* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;
}

footer {
    background-color: rgb(0, 8, 50);
    height: 80px;
    width: 100%;
    color: white;    
}

footer .footer-copyright {
    font-size: 30px;
    text-align: center;
    line-height: 80px;
}