* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;
}

main {
    min-height: 100vh;
}