* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(0, 8, 50);
}

header nav .nav-menu-icon-image-label .nav-menu-icon{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    height: 50px;
    display: none;
}

header nav .navcheckboxinput {
    display: none;
}

.site-name {
    font-size: 30px;
    line-height: 80px;
    margin-left: 30px;
    color: aqua;
}

header nav .nav-menu {
    float: right;
    list-style: none;

}

header nav .nav-menu .nav-menu-list {
    line-height: 80px;
    display: inline-block;
    padding: 0px 20px;
}

header nav .nav-menu .nav-menu-list .nav-menu-items {

    font-size: 20px;
    text-transform: capitalize;
    color: white;
}

@media (max-width="880px") {}